<div class="row">

    <div class="col-md-8 col-xl-6 mx-auto">
        <form [formGroup]="addMemberForm" (ngSubmit)="onSubmitClick()">
            <div class="card mt-1">
                <div class="card-header">
                    <h4>{{headerMsg}}</h4>
                </div>
                <div class="card-body">

                    <div class="form-group form-row">
                        <label for="firstName" class="col-md-4 col-form-label"> First Name : </label>
                        <div class="col-md-8">
                            <input type="hidden" name="id" id="id">
                            <input type="text" name="firstName" id="firstName" placeholder="First Name"
                                class="form-control" formControlName="firstName" [ngClass]="{
                                'is-invalid':addMemberForm.get('firstName').invalid && (addMemberForm.get('firstName').dirty
                                 || addMemberForm.get('firstName').touched || addMemberForm.Submitted),
                                 'is-valid':addMemberForm.get('firstName').valid && (addMemberForm.get('firstName').dirty
                                 || addMemberForm.get('firstName').touched || addMemberForm.Submitted)
                            }">
                            <span class="text-danger"
                                *ngIf="addMemberForm.get('firstName').invalid && (addMemberForm.get('firstName').dirty ||
                            addMemberForm.get('firstName').touched  || addMemberForm.Submitted) && addMemberForm.get('firstName').errors?.required">
                                First Name is required</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="lastName" class="col-md-4 col-form-label">Last Name : </label>
                        <div class="col-md-8">
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name"
                                class="form-control" formControlName="lastName" [ngClass]="{
                                'is-invalid':addMemberForm.get('lastName').invalid && (addMemberForm.get('lastName').dirty
                                 || addMemberForm.get('lastName').touched || addMemberForm.Submitted),
                                 'is-valid':addMemberForm.get('lastName').valid && (addMemberForm.get('lastName').dirty
                                 || addMemberForm.get('lastName').touched || addMemberForm.Submitted)
                            }">
                            <span class="text-danger"
                                *ngIf="addMemberForm.get('lastName').invalid && (addMemberForm.get('lastName').dirty ||
                                addMemberForm.get('lastName').touched  || addMemberForm.Submitted) && addMemberForm.get('lastName').errors?.required">
                                Last Name is required</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="email" class="col-md-4 col-form-label">Email : </label>
                        <div class="col-md-8">
                            <input type="text" name="email" id="email" placeholder="Email" class="form-control"
                                formControlName="email" [ngClass]="{
                                'is-invalid':addMemberForm.get('email').invalid && (addMemberForm.get('email').dirty
                                 || addMemberForm.get('email').touched || addMemberForm.Submitted),
                                 'is-valid':addMemberForm.get('email').valid && (addMemberForm.get('email').dirty
                                 || addMemberForm.get('email').touched || addMemberForm.Submitted)
                            }">

                            <span class="text-danger" *ngIf="addMemberForm.get('email').invalid && (addMemberForm.get('email').dirty ||
addMemberForm.get('email').touched  || addMemberForm.Submitted) && addMemberForm.get('email').errors?.required">
                                Email is required</span>
                            <span class="text-danger" *ngIf="addMemberForm.get('email').invalid && (addMemberForm.get('email').dirty ||
addMemberForm.get('email').touched  || addMemberForm.Submitted) && addMemberForm.get('email').errors?.email">
                                Email is invalid</span>
                        </div>
                    </div>

                    <!-- {{addMemberForm.value | json}} -->
                </div>
                <div class="card-footer">
                    <button class="btn btn-success">Submit</button>
                    &nbsp;
                    <button type="button" class="btn btn-primary" (click)="onBackClick()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>